<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body align="center">

    <h3>API endpoints:</h3>
    <table align="center" border="1px">
        <thead>
            <tr>
                <th>endpoints</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/admin/</td>
            </tr>
            <tr>
                <td>/users/</td>
            </tr>
            <tr>
                <td>/users/register/</td>
            </tr>
            <tr>
                <td>/users/login/</td>
            </tr>
            <tr>
                <td>/users/logout/</td>
            </tr>
            <tr>
                <td>/users/logoutall/</td>
            </tr>
            <tr>
                <td>/users/address/</td>
            </tr>
            <tr>
                <td>/products/</td>
            </tr>
            <tr>
                <td>/products/{int:id}/</td>
            </tr>
            <tr>
                <td>/products/productbycategory/{int:id}/</td>
            </tr>
            <tr>
                <td>/products/categories/</td>
            </tr>
            <tr>
                <td>/products/categories/id/</td>
            </tr>
            <tr>
                <td>/orders/</td>
            </tr>
        </tbody>
    </table>

    
</body>
</html>
